<ion-view title="关于我们" cache-view="true" class="title title-center">
    <ion-content class="has-header">
        <ion-list>
            <ion-item type="item-text-wrap">
                <div align="center"><img src="img/icon.png" style="width:100px;height:50"></div>
                <div style="text-align:center;">
                    伟创停车V1.0
                </div>
            </ion-item>
            <ion-item type="item-text-wrap">
                <i class="fa fa-volume-control-phone fa-lg positive"></i> 服务电话:4001004048
            </ion-item>
            <ion-item type="item-text-wrap">
                <i class="fa fa-globe positive" aria-hidden="true"></i> 官方网站:
                <a href="http://www.szwchy.com">http://www.szwchy.com</a>
            </ion-item>
        </ion-list>

        <div style="text-align:center;padding:50px;">
            <span>深圳市伟创自动化设备有限公司</span>
            <p>
                版权所有:Copyright@2016 Weichuang.All Rights Reserved
        </div>

    </ion-content>
</ion-view>