<ion-view title='绑定车辆'>
    <ion-content>
        <form name="bindPlateForm">
            <ion-list>
                <ion-item class="item-input">
                    <span class="input-label">车牌号</span>
                    <input type="text" name="plate" placeholder="   请输入车牌号" ng-model="entity.vehicleNumber" ng-pattern="/^[\u4e00-\u9fa5]{1}[A-Za-z]{1}[A-Z_0-9]{5}$/" pattern-msg="您的车牌号输入有误" required>
                </ion-item>
                <span style="color:red" ng-show="bindPlateForm.plate.$dirty && bindPlateForm.plate.$invalid">
                    <span ng-show="bindPlateForm.plate.$error.required">车牌号是必须的。</span>
                    <span ng-show="bindPlateForm.plate.$invalid">车牌号不正确。</span>
                </span>
                <li class="item item-toggle">
                    自动扣费
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="entity.autoCharge">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ion-list>
            <button ng-click="bindPlate()" ng-disabled="bindPlateForm.$invalid" class="button button-block button-positive">
                添加车辆
            </button>
        </form>
        <ion-list>
            <ion-item ng-repeat="vehicle in currentUser.vehicles" type="item-text-wrap">
                <div class="row">
                    <h2 class="col">车牌号:{{vehicle.plate}}</h2>
                    <h2 class="col">自动扣费:<label ng-show="vehicle.autoCharge">是</label><label ng-show="!vehicle.autoCharge">否</label></h2>
                    <ion-option-button ng-click="delete(vehicle.id,$index)" class="button-positive">
                        删除
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
