<ion-view view-title="修改密码">
    <ion-content>
        <form name="myForm" novalidate="novalidate">
            <ion-list >
                <ion-item class="row">
                    <div class="col">原密码:</div>
                    <input class="col" type="password" name="oldPassword" placeholder="原密码:" ng-model="entity.oldPassword" ng-minlength="5" ng-maxlength="20" required>
                </ion-item>

                <ion-item class="row">
                    <div class="col">新密码:</div>
                    <input class="col" type="password" name="password" placeholder="密码为5到20为字母或数字" ng-model="entity.newPassword" ng-minlength="5" ng-maxlength="20" required>                  
                </ion-item>

                <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">密码是必须的。</span>
                    <span ng-show="myForm.password.$invalid">密码长度必须为5到20位</span>
                </span>

                <ion-item class="row">
                    <div class="col">确认密码:</div>
                    <input class="col" type="password" name="confirmPassword" placeholder="密码为5到20为字母或数字" ng-model="entity.confirmPassword" ng-minlength="5" ng-maxlength="20" required>              
                </ion-item>

                <span style="color:red" ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">
                    <span ng-show="myForm.confirmPassword.$error.required">密码是必须的。</span>
                    <span ng-show="myForm.confirmPassword.$invalid">密码长度必须为5到20位</span>
                </span>

            </ion-list>

            <a class="button button-block button-positive button-large " type="button" ng-click="changePassword()" ng-disabled="myForm.$invalid">确定</a>

        </form>
    </ion-content>
</ion-view>
