<ion-view view-title="停车记录" show-tabs>

  <ion-content overflow-scroll=”false”>
    <!-- <ion-refresher pulling-text="下拉刷新" refreshing-text="正在获取消息" on-refresh="sync()">
    </ion-refresher> -->

    <ion-list class="positive item-text-wrap">
      <!-- item-avatar -->
      <ion-item ng-repeat="rec in records">
        <span>车牌号:{{rec.plateNo}}</span>
        <p/>
        <span>车场:{{rec.stockName}}</span>
        <p/>
        <span>车位:{{rec.binKeyCode}}</span>
        <p/>
        <span>出入口:{{rec.inOutStation}}</span>
        <p/>
        <span>停车时间:{{rec.createTime}}</span>
        <p/>
        <span>滞留时间:{{rec.stayMinutes}}</span>
        <p/>
        <span>费用:{{rec.money}}</span>
        <p/>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="more" on-infinite="loadMore()" distance="10%" immediate-check="false">
      
    </ion-infinite-scroll>
  </ion-content>
</ion-view>