<ion-view view-title="停车" cache-view="false">
    <!--<ion-nav-buttons side="right">
        <button class="button button-block button-positive" ng-click="ctrl.refresh()">
        <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
        </button>
    </ion-nav-buttons>-->
    <ion-content  class="has-header">
        <ion-list>
            <ion-item ng-repeat="car in ctrl.cars">
                <div class="row">
                    <div class="col-80">
                        <h2>车场:{{car.stockName}}</h2>
                        <h2>车牌号:{{car.plateNo}}</h2>
                        <h2>时间:{{car.inTime}}</h2>
                        <h2>出入口:{{car.inOutStation}}</h2>
                        <h2>车位:{{car.binKeyCode}}</h2>
                    </div>
                    <div class="col-20">
                        <!--ng-disabled="{{car.commitFlag}}" -->
                        <button class="button button-block button-positive" ng-disabled="{{car.commitFlag}}"  ng-click="ctrl.CommitInCar(car.stockCode,car.plateNo)">存车</button>
                    </div>
                </div>
                <!--<button ng-click="queryStatus(car.phone,car.plateNo)">查询状态</button>-->
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>