<ion-view view-title="test">
    <ion-content>
        <div class="row">dfdfdfd</div>
        
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap">
                    <button ng-click="addTestAccount()">添加测试数据</button>
                    <button ng-click="addVehicle()">添加车辆</button>
                    <button ng-click="test()">rootScope</button>
                    <button ng-click="security()">security</button><p>
                    <button ng-click="test1()">test1</button>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item>
                <button ng-click="download()">download</button>
                </ion-item>
                <ion-item>
                {{hasil}}
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/test/layouttest">
                    <h2>测试布局</h2>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item>
                {{myValue}}
                <p>
                <button ng-click="promiseTest()">promise</button>
                <p>
                <button ng-click="loading()">loading</button>
                </ion-item>
            </ion-list>
        
        <!--
        <ion-list>
        
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="menu in menus" type="item-text-wrap" href="#/tab/test/{{menu.name}}">
        <h2>{{menu.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
        
    </ion-list>
-->
    </ion-content>
</ion-view>
