<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="停取车" icon-off="ion-model-s positive" icon-on="ion-model-s positive" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="计费" icon-off="ion-ios-chatboxes positive" icon-on="ion-ios-chatboxes positive" href="#/tab/fee">
    <ion-nav-view name="tab-fee"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab icon='img/icons/gear-b.png' icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" -->
  <ion-tab title="我" icon-off="ion-ios-gear positive" icon-on="ion-ios-gear positive"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Test Tab -->
  <ion-tab title="Test" icon-off="ion-model-s positive" icon-on="ion-model-s positive" href="#/tab/test">
    <ion-nav-view name="tab-test"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<style type="text/css">
      
</style>