<ion-view title="钱包" cache-view="false" hide-back-button="false" has-header="true" hide-nav-bar="false">
    <ion-content scroll="false">
        <div class="list">
            <div class="item item-icon-right positive">
                账户余额:{{entity.balance}}
                <i class="icon ion-clipboard"><button class="button button-positive" ui-sref="tab.walletDetail">账户明细</button></i>
            </div>
            <div class="item" style="padding-left: 0 ;padding-right: 0;padding-top: 0;padding-bottom: 0">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            选择支付金额
                        </div>
                        <select id="amount">
                            <option value="20">20元</option>
                            <option value="50" selected>50元</option>
                            <option value="100">100元</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="item" style="padding-left: 0 ;padding-right: 0;padding-top: 0;padding-bottom: 0">
                <div class="list ">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            支付方式
                        </div>
                        <select>
                            <option selected>支付宝</option>
                            <option>微信支付</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="item">
                <a class="button button-positive button-large button-block" ng-click="deposit()">立即充值</a>
            </div>
        </div>
    </ion-content>
</ion-view>
