/* Empty. Add your own CSS if you like */
.bar-setting {
    background:url(img/icons/gear-b.png) no-repeat center;
  }

/*
ion-option-button.button.button-assertive {
  border-style: solid;
  border-width: 5px;
  border-color: green;
}
*/

.border-button {
	border-color: black
	border-style: solid;
}

.title.title-center.header-item {
    background-color:white; //#4a87ee;//#F38023!important; // for bg color
    
    margin:0px!important;
    margin-left:0px!important;
    color: black; //#ffffff!important;
    text-align: center !important;
    width: 100%;
}

.bar.bar-header .button+.title {
text-align: center !important;
left: 35px;
line-height: 46px;
}